{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;padding:10px;">
              <img class="card-img-top" src="{{i.img.url}}"  height="450px" alt="Card image cap">
              <div class="card-body">
                  <a href="{% url 'movieapp:details' i.id %}"><h5 class="card-title">{{ i.name }}</h5></a>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
